/////////////////
// ALERT BOXES //
/////////////////
.alert-box{
    display: block;
    margin: 30px auto 30px;
    color: $white;
    font-size: 16px;
    padding: 20px;
    position: fixed;
    @include font-gibson(bold);
    letter-spacing: 0.1em;
    left: 50%;
    margin-left: -350px;
    opacity: .9;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    line-height: 20px;
    width: 700px;
    padding: 15px 20px;
    z-index: 1050;
    h6{
        padding: 0px;
        opacity: .6;
    }
    p { padding: 0 34px; }
    &:hover{
        text-decoration: none;
        color: $white;
        opacity: 1;
        h6{ opacity: 1; }
    }
}
.alert-box-error,.alert-box-warning,.alert-box-confirmation,.alert-box-information{ @extend .alert-box; }
.alert-box-error{ background-color: $red; }
.alert-box-warning{ background-color: $orange; }
.alert-box-confirmation{ background-color: $green; }
.alert-box-information{ background-color: $blue; }
