/////////////
// BORDERS //
/////////////
.b-none{ border: none; }
.bt-none{ border-top: none; }
.br-none{ border-right: none; }
.bb-none{ border-bottom: none; }
.bl-none{ border-left: none; }

@each $color in $colors{
    $key: nth($color, 1);
    $value: nth($color, 2);
    .b-#{$key}{ @include border($value); }
    .bt-#{$key}{ @include border($value, 'top'); }
    .br-#{$key}{ @include border($value, 'right'); }
    .bb-#{$key}{ @include border($value, 'bottom'); }
    .bl-#{$key}{ @include border($value, 'left'); }
}