/////////////
// BUTTONS //
/////////////
.btn{
    display: inline-block;
    @include font-gibson(bold);
    letter-spacing: 0.1em;
    outline: none;
    cursor: pointer;
    line-height: 32px;
    height: 34px;
    box-sizing: border-box;
}

.btn-primary {
    @extend .btn;
    color: $white;
    padding-left: 20px;
    padding-right: 20px;
    background-color: $dark-grey;
    @include border($dark-grey);
    opacity: 0.9;
}
.btn-primary:hover {
    text-decoration: none;
    color: $white;
    opacity: 1;
}
.btn-secondary{
    @extend .btn;
    background-color: $white;
    text-decoration: none;
    color: $dark-grey;
    @include border($dark-grey);
    padding: 0 20px;
}
.btn-secondary:hover{
    background-color: $dark-grey;
    color: $white;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}
.btn-icon{
    @extend .btn;
    background-color: $white;
    text-decoration: none;
    color: $dark-grey;
    @include border($dark-grey);
    padding: 0 10px;
    line-height: 34px;
}
.btn-icon:hover{
    @include border($dark-grey);
    background-color: $dark-grey;
    color: $white;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}
.btn-toggle {
    @extend .btn;
    background-color: $white;
    text-decoration: none;
    color: $dark-grey;
    @include border($dark-grey);
    padding: 0 20px;
    line-height: 34px;
}
.btn-toggle.active, .btn-toggle.active:hover{
    @extend .btn-primary;
    line-height: 34px;
}
.btn-primary[disabled], .btn-secondary[disabled], .btn-icon[disabled],
.btn-primary.disabled, .btn-secondary.disabled, .btn-icon.disabled,
.btn-primary[disabled]:hover, .btn-secondary[disabled]:hover, .btn-icon[disabled]:hover,
.btn-primary.disabled:hover, .btn-secondary.disabled:hover, .btn-icon.disabled:hover{
    background-color: $lightest-grey;
    color: $medium-grey;
    @include border($light-grey);
    text-decoration: none;
    opacity: 1;
    padding: 0 20px;
    line-height: 34px;
}
.btn-icon[disabled]{
    padding: 0 10px;
}
.btn-link{
    line-height: 36px;
    padding: 10px;
    color: $dark-grey;
    opacity: .9;
    &:hover{
        color: $dark-grey;
        text-decoration: none;
        opacity: 1;
    }
}

@each $color in $colors {
    $key: nth($color, 1);
    $value: nth($color, 2);
    .btn-primary.#{$key} {
        background-color: $value;
        @include border($value);
    }
    .btn-secondary.#{$key}{
        color: $value;
        @include border($value);
    }
    .btn-secondary.#{$key}:hover{
        background-color: $value;
        color: $white
    }
    .btn-icon.#{$key}{
        color: $value;
        @include border($value);
    }
    .btn-icon.#{$key}:hover{
        @include border($value);
        color: $white;
        background-color: $value;
    }
    .btn-toggle.#{$key}, .btn-toggle.#{$key}{
        color: $value;
        @include border($value);
    }
    .btn-toggle.#{$key}.active, .btn-toggle.#{$key}.active:hover{
        @extend .btn-primary.#{$key};
    }
    .btn-link.#{ $key }{
        color: $value;
        &:hover{
            color: $value;
        }
    }
}



