.headers-layout{
    background-color: $darkest-grey;
    height: 50px;
    line-height: 50px;
    width: 100%;
    #main-header-content{
        margin: 0 auto;
        width: 1040px;
    }
    a#logo{
        display: block;
        background: url(./images/suit_sprite.png) no-repeat 0 7px transparent;
        width: 68px;
        height: 50px;
    }
}

a.logo{
    display: block;
    background: url(./images/suit_sprite.png) no-repeat 0 7px transparent;
    width: 68px;
    height: 50px;
}

.title-box, .footer-box{
    margin: 0 auto;
    margin-top: 20px;
    background-color: $lightest-grey;
    padding: 8px 30px;
    width: 980px;
    h4{
        display: inline-block;
        line-height: 34px;
    }
}

.title-box{
    @include border($light-grey, 'bottom');
    line-height: 34px;

    h4 {
        display: block;
    }
}

// Color implementation of the title-boxes.
@each $color in $colors {
    $key: nth($color, 1);
    $value: nth($color, 2);

    .title-box-#{ $key } {
        @extend .title-box;
        background-color: $value;
    }

    .full-width-title-box-#{ $key } {
        @extend .full-width-title-box;
        background-color: $value;
    }
}

.footer-box{
    @include border($light-grey, 'top');
}

.content-box{
    margin: 0 auto;
    padding: 15px;
    background-color: $white;
    overflow: visible;
    position: relative;
    display: table;
    width: 1010px;
}

.invisible-container{
    width: 1060px;
    margin: 0 auto;
    overflow: hidden;
}

.full-width-content-box{
    @extend .content-box;
    padding: 0;
    width: 100%;
}
.full-width-title-box{
    @extend .title-box;
    width: 100%;
    padding: 0;
    margin: 0;

    .title-box{
        margin: 0 auto;
        border: 0;
    }

    h4 {
        color: $dark-grey;
    }
}

////////////////
// TITLE LINE //
////////////////
@each $color in $colors {
    $key: nth($color, 1);
    $value: nth($color, 2);
    hr.title-line-#{ $key } {
        border: 0;
        border-top: 5px solid $value;
        margin: 0;
        padding: 0;
    }
}
hr.divider-line {
    border: 0;
    border-top: 1px solid $light-grey;
    margin: 0;
    padding: 0;
}

////////////
// GRAPHS //
////////////
.graph-set-bargraph {
    height: inherit;
}

/////////////////
// BREADCRUMBS //
/////////////////
.suit-breadcrumbs, .breadcrumbs {
    @extend .title-box;
    position: relative;
    padding: 0 30px;

    > ul {
        list-style: none;
        color: $dark-grey;
        height: 50px;
        line-height: 50px;

        > li{
            position: relative;
            float: left;
            height: 50px;
            line-height: 50px;
            max-width: 221px;

            > a:not(.btn-icon-blue){
                display: block;
                @extend .truncate;
                height: 50px;
            }

            @each $color in $colors {
                $key: nth($color, 1);
                $r: nth($color, 3);
                $g: nth($color, 4);
                $b: nth($color, 5);

                // Active items
                > a.active.section-#{$key} {
                    color: $darkest-grey;
                    span {
                        @extend .fc-#{$key};
                    }
                }
            }

            > ul{
                display: none;
                //max-height: 221px;
                //overflow-y: auto;
            }

            &:hover{
                > ul{
                    display: block;
                    background-color: $white;
                    position: absolute;
                    white-space: nowrap;
                    top: 50px;
                    padding: 15px 0;
                    min-width: 300px;
                    max-width: 333px;
                    @include box-shadow;
                    z-index: 1;
                    > li{
                        line-height: 50px;
                        height: 50px;
                    }
                    a {
                        display: block;
                        padding-left: 30px;
                        padding-right: 30px;
                        color: $darkest-grey;
                        @include truncate();
                    }
                }

                @each $color in $colors {
                    $key: nth($color, 1);
                    $value: nth($color, 2);
                    $r: nth($color, 3);
                    $g: nth($color, 4);
                    $b: nth($color, 5);

                    // Regular menu items
                    > a.section-#{$key} {
                        color: $darkest-grey;
                        span {
                            color: $value;
                        }
                    }

                    // Dropdown menu items
                    &.dropdown-menu-#{$key} {
                        > a.section-#{$key} {
                            background-color: $value;
                            color: $white;
                            span {
                                color: $white;
                            }
                        }
                        >ul {
                            z-index: 3;
                        }
                        >ul a:hover {
                            background-color: rgba($r, $g, $b, .4);
                        }
                    }
                }
            }
        }

        li{
            display: block;
            list-style: none;

            a{
                display: inline-block;
                text-decoration: none;
                position: relative;
                text-transform: capitalize;
            }

            a.btn-icon-blue {
                height: auto;
            }
        }
    }
}

//////////////
// TOOLTIPS //
//////////////
.tooltip {
    position: absolute;
    display: none;
    padding: 5px 0;
    z-index: 9999; // so its on top of the modals as well
    max-width: 500px;
}
.tooltip-content {
    text-align: left;
    background-color: $red;
    color: $white;
    padding: 7px 15px;
}
.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    bottom: 0;
    left: 10px;

    border-width: 5px 5px 0;
    border-top-color: $red;
}
