.date-range {

    padding-left: 34px;
    .date-picker, .select-box {
        float: left;
        margin: 0;
        width: 33.33%;
        a.date-picker-trigger {
            position: absolute;
            left: -33px;
        }
    }
    &:hover, &:focus{
        .date-picker-trigger{
            @include border($medium-grey);
            color: $darkest-grey;
        }
    }

    .date-picker input {
        padding-left: 10px;
        &:hover, &:focus{
            border-left: none;
            border-top: 1px solid $medium-grey;
            border-right: 1px solid $medium-grey;
            border-bottom: 1px solid $medium-grey;
        }
        border-left: none;
        border-top: 1px solid $medium-grey;
        border-right: 1px solid $medium-grey;
        border-bottom: 1px solid $medium-grey;
    }

    .select-box {
        &:hover, &:focus{
            border-left: none;
            border-top: 1px solid $medium-grey;
            border-right: 1px solid $medium-grey;
            border-bottom: 1px solid $medium-grey;
        }
        border-left: none;
        border-top: 1px solid $medium-grey;
        border-right: 1px solid $medium-grey;
        border-bottom: 1px solid $medium-grey;
    }
}
