$fonts: (Gibson_Light, 200, normal),
        (Gibson_LightIt, 200, italic),
        (Gibson_Regular, normal, normal),
        (Gibson_Italic, normal, italic),
        (Gibson_SemiBold, 700, normal),
        (Gibson_SemiboldIt, 700, italic),
        (Gibson_Bold, bold, normal),
        (Gibson_BoldItalic, bold, italic);
@each $font-props in $fonts {
    $font: nth($font-props, 1);
    $weight: nth($font-props, 2);
    $style: nth($font-props, 3);
    @font-face {
        font-family: 'Gibson';
        src: url("./fonts/#{$font}.eot");
        src: url("./fonts/#{$font}.eot?#iefix") format("embedded-opentype"), url("./conv_fonts/#{$font}.woff") format("woff"), url("./conv_fonts/#{$font}.ttf") format("truetype"), url("./conv_fonts/#{$font}.svg##{$font}") format("svg");
        font-weight: $weight;
        font-style: $style;
    }
}

///////////
// FONTS //
///////////

.font-default{
    font-family: "Gibson_Regular", Arial, sans-serif;
    // font-weight: normal;
    font-size: 13px;
}
.font-din{
	font-family: "Gibson_Regular", "Helvetica Neue", Arial, sans-serif;
	// font-weight:600;
	font-size:13px;
}

//////////////////
// TEXT HELPERS //
//////////////////
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ws-nowrap{
    white-space: nowrap;
}

//////////////////
// FONT WEIGHTS //
//////////////////

@mixin font-gibson($weight: normal, $style: normal) {
    font-family: 'Gibson';
    @if $weight == light {
        font-weight: 200;
    } @elseif $weight == bold {
        font-weight: 700;
    } @elseif $weight == black {
        font-weight: bold;
    } @else {
        font-weight: normal;
    }

    @if $style == italic {
        font-style: italic;
    } @else {
        font-style: normal;
    }
}




.fst-lighter, a.fst-lighter{
    @include font-gibson(light);
}
.fst-light, a.fst-light{
    @include font-gibson(light);
}
.fst-light-italic,a.fst-light-italic{
    @include font-gibson(light, italic);
}
.fst-regular,a.fst-regular{
    @include font-gibson();
}
.fst-italic,a.fst-italic{
    @include font-gibson(normal, italic);
}
.fst-medium,a.fst-medium{
    @include font-gibson();
}
.fst-medium-italic,a.fst-medium-italic{
    @include font-gibson(normal, italic);
}
.fst-bold,a.fst-bold{
    @include font-gibson(bold);
}
.fst-bold-italic,a.fst-bold-italic{
    @include font-gibson(bold, italic);
}
.fst-black,a.fst-black{
    @include font-gibson(black);
}

/////////////////
// FONT COLORS //
/////////////////
@each $color in $colors{
    $key: nth($color, 1);
    $value: nth($color, 2);
    .fc-#{$key}, .fc-#{$key}-hover{ color: $value; }
}

////////////////
// FONT SIZES //
////////////////
$font-sizes: 13 14 16 21 30;
@each $size in $font-sizes {
    .fs-#{$size}{ font-size: #{$size}px; }
}
.fs-30{ line-height: 30px; }

/////////////////////////
// TEXT TRANSFORMATION //
/////////////////////////
.td-underline{ text-decoration: underline; }
.td-underline-hover:hover{ text-decoration: underline; }
.td-none{ text-decoration: none; }
.td-none-hover:hover{ text-decoration: none; }
.tt-uppercase{ text-transform:uppercase; }
.tt-uppercase-hover:hover{ text-transform:uppercase; }
.tt-capitalize{ text-transform:capitalize; }
.tt-capitalize-hover:hover{ text-transform:capitalize; }
.tt-lowercase-hover:hover{ text-transform:lowercase; }

///////////
// LISTS //
///////////
.ls-none { list-style: none; }

////////////////////
// TEXT ALIGNMENT //
///////////////////
.ta-right{ text-align: right; }
.ta-left{ text-align: left; }
.ta-center{ text-align: center; }
.ta-justify{ text-align: justify; }
.va-top{ vertical-align: top; }
.va-middle{ vertical-align: middle; }
.va-bottom{ vertical-align: bottom; }
