$fonts: (Gibson_Light, 200, normal),
        (Gibson_LightIt, 200, italic),
        (Gibson_Regular, normal, normal),
        (Gibson_Italic, normal, italic),
        (Gibson_SemiBold, 700, normal),
        (Gibson_SemiboldIt, 700, italic),
        (Gibson_Bold, bold, normal),
        (Gibson_BoldItalic, bold, italic);
@each $font-props in $fonts {
    $font: nth($font-props, 1);
    $weight: nth($font-props, 2);
    $style: nth($font-props, 3);
    @font-face {
        font-family: 'Gibson';
        src: url("fonts/#{$font}.eot");
        src: url("fonts/#{$font}.eot?#iefix") format("embedded-opentype"), url("fonts/#{$font}.woff") format("woff"), url("fonts/#{$font}.ttf") format("truetype"), url("fonts/#{$font}.svg##{$font}") format("svg");
        font-weight: $weight;
        font-style: $style;
    }
}