////////////
// GRAPHS //
////////////
.nvd3.nv-pie path{
    stroke: transparent;
    stroke-width: 0px;
    stroke-opacity: 0;
}

g.nv-axis {
    path.domain {
        stroke: $medium-grey;
    }
    text {
        fill: $medium-grey;
    }
}

.graph-set-bargraph {
    height: inherit;
}

.graph-set-stacked-areagraph, .graph-set-linegraph, .chart-theme-dark {
    height: 100%;
    width: 100%;

    .nv-x {
        .nv-axisMaxMin {
            &:first-child {
                margin-left: 50%;
            }
            &:last-child {
                margin-right: 50%;
            }
        }
        .tick line {
            display: none;
        }
    }

    .nvtooltip {
        min-width: 150px;
        padding: 5px 10px;
        background-color: rgba(0,0,0,0.8);
        color: white;
        table {
            width: 100%;
            tbody td.value {
                font-weight: 200;
            }
        }
    }

    line.nv-guideline {
        stroke: #333;
        stroke-width: 1;
    }
}
