////////////
// GRAPHS //
////////////
.nvd3.nv-pie path{
    stroke: transparent;
    stroke-width: 0px;
    stroke-opacity: 0;
}

g.nv-axis {
    path.domain {
        stroke: $medium-grey;
    }
    text {
        fill: $medium-grey;
    }
}

.graph-set-bargraph {
    height: inherit;
}

.graph-set-stacked-areagraph, .graph-set-linegraph {
    height: 100%;
    width: 100%;

    .nv-x .tick line {
        display: none;
    }

    .nvtooltip {
        padding: 5px 10px;
        background-color: rgba(0,0,0,0.8);
        color: white;
    }

    line.nv-guideline {
        stroke: #333;
        stroke-width: 1;
    }
}
