///////////
// GRIDS //
///////////
.grid1, .grid2, .grid3, .grid4, .grid6{
    float: left;
    position: relative;
}

.content-box{
    .grid1, .grid2, .grid3, .grid4, .grid6{
        box-sizing: border-box;
        padding: 15px;
    }

    .grid1{
        width: 1010px;
    }
    .grid2{
        width: 505px;
        &.span2{
            width: 1010px;
        }
    }
    .grid3{
        width: 336px;
        &.span2{
            width: 672px;
        }
        &.span3{
            width: 1010px;
        }
    }
    .grid4{
        width: 252px;
        &.span2{
            width: 504px;
        }
        &.span3{
            width: 756px;
        }
        &.span4{
            width: 1010px;
        }
    }
    .grid6{
        width: 168px;
        &.span2{
            width: 336px
        }
        &.span3{
            width: 504px
        }
        &.span4{
            width: 672px
        }
        &.span5{
            width: 840px
        }
        &.span6{
            width: 1010px;
        }
    }
}

/////////////////////////
// INVISIBLE CONTAINER //
/////////////////////////

.invisible-container{
    .grid1, .grid2, .grid3, .grid4, .grid6{
        margin: 10px;
    }
    .grid1{
        width: 1040px;
    }
    .grid2{
        width: 510px;
        &.span2{
            width: 1040px;
        }
    }
    .grid3{
        width: 333px;
        &.span2{
            width: 686px;
        }
        &.span3{
            width: 1040px;
        }
    }
    .grid4{
        width: 245px;
        &.span2{
            width: 510px;
        }
        &.span3{
            width: 775px;
        }
        &.span4{
            width: 1040px;
        }
    }
    .grid6{
        width: 156px;
        &.span2{
            width: 332px;
        }
        &.span3{
            width: 508px;
        }
        &.span4{
            width: 684px;
        }
        &.span5{
            width: 860px;
        }
        &.span6{
            width: 1040px;
        }
    }
}

/////////////////
// MODAL GRIDS //
/////////////////

.suit-modal{
    .grid1{
        width: 660px;
    }
    .grid2{
        width:309px;
        &.span2{
            width: 660px;
        }
    }
    .grid3{
        width:200px;
        &.span2{
            width: 430px;
        }
        &.span3{
            width: 660px;
        }
    }
    .grid4{
        width:140px;
        &.span2{
            width: 210px;
        }
        &.span3{
            width: 480px;
        }
        &.span4{
            width: 660px;
        }
    }
}
.suit-modal.small{
    .grid1{
        width: 297px;
    }
    .grid2{
        width: 139px;
    }
}

.suit-modal.large{
    .grid1{
        width: 90%;
    }
}

/////////////////////////////
// COMPONENTS INSIDE GRIDS //
/////////////////////////////
.grid1, .grid2, .grid3, .grid4, .grid6{
    .title-box, .content-box, .footer-box{
        width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
}

/////////////////
// FLUID GRID //
///////////////

$cols: 6;
$fluid_gutter: 6%;
.fluid-container {
    padding: 0%;
    clear: both;
    @for $i from 1 through $cols {
        $fluid_grid_width: 100% / $i - $fluid_gutter;
        .grid#{$i} {
            margin: 0px;
            padding-left: $fluid_gutter / 2;
            padding-right: $fluid_gutter / 2;
            width: $fluid_grid_width;
            @for $n from 1 through $i {
                &.span#{$n} {
                    width: $fluid_grid_width * $n + ($fluid_gutter * ($n - 1));
                }
            }
        }
    }
}

