///////////
// ICONS //
///////////

// WE WILL BE USING "H6" FOR OUR ICON FONTS.
@font-face {
    font-family: "suit-icons";
    src: url("./fonts/set-icons4.eot");
    src: url("./fonts/set-icons4.eot?#iefix") format("embedded-opentype"), url("./fonts/set-icons4.woff") format("woff"), url("./fonts/set-icons4.ttf") format("truetype"), url("./fonts/set-icons4.svg#set-icons4") format("svg");
}
.font-icon{
	font-family:"suit-icons";
    font-weight: normal;
	font-size:19px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
span.icon{
    @extend .font-icon;
}
