////////////
// LABELS //
////////////
label.error{
    color: $red;
}

////////////////////
// LABEL IN FORMS //
////////////////////
form > label {
    margin-bottom: 7px;
    margin-top: 7px;
}
form > label:first-of-type{
    margin-top: 0;
}

////////////////////
// INPUT TEXT BOX //
////////////////////
.input-box{
    display: block;
    background-color: $white;
    text-decoration: none;
    color: $darkest-grey;
    @include border($medium-grey);
    @extend .font-default;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    padding: 0 10px;
    height: 34px;
    outline: none;

    &:hover{
        @include border($darkest-grey);
    }

    &:focus{
        color: $darkest-grey;
    }
}
.input-box.error, .input-box.error:hover{
    color: $red;
    border: 1px solid $red;

    &::-webkit-input-placeholder {
        color: $red;
    }

    &:-moz-placeholder { /* Firefox 18- */
        color: $red;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
        color: $red;
    }

    :-ms-input-placeholder {
    color: $red;
    }
    select, option { color: $red; }
}
.input-box[disabled], .input-box[disabled]:hover{
    background-color: $lightest-grey;
    color: $medium-grey;
    @include border($light-grey);
    text-decoration: none;
}
.select-box select[disabled], .select-box:hover select[disabled],
.select-box select[disabled] + h6, .select-box:hover select[disabled] + h6{
    background-color: $lightest-grey;
    color: $medium-grey;
    text-decoration: none;
}

////////////////
// SEARCH BOX //
////////////////
.search-box{
    background-image: url(./images/suit_sprite.png);
    background-repeat: no-repeat;
    background-position: right -38px;
    padding-right: 36px;
    padding-left: 10px;
    &:hover{
        background-position-y: -74px;
    }
    &::-webkit-search-cancel-button{
        -webkit-appearance: none;
    }
}
input[type=text], input[type=date], input[type=datetime], input[type=email], input[type=file], input[type=number], input[type=password], input[type=search], input[type=time]{
    @extend .input-box;
}
input[type=search]{
    @extend .search-box;
}

///////////////
// TEXT AREA //
///////////////
textarea{
    @extend .input-box;
    height: 100px;
    line-height: 18px;
    padding-top: 9px;
}

////////////////
// SELECT BOX //
////////////////
.select-box{
    @extend .input-box;
    overflow: hidden;
    position: relative;
    padding: 0;
    select{
        display: block;
        background-color: $white;
        text-decoration: none;
        color: $darkest-grey;
        @extend .font-default;
        box-sizing: content-box;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        padding: 0px 34px 0 10px;
        line-height: 28px;
        height: 32px;
        outline: none;
        border: none;
        width: 110%;
    }
    span.icon{
        position: absolute;
        background-color: $white;
        right: 0px;
        top: 0px;
        width: 34px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        pointer-events:none;
        background-color:transparent;
    }
}


//////////////////
// MULTI SELECT //
//////////////////
.multi-select{
    @include border($medium-grey);
    background-color: $white;
    position: relative;
    @extend .font-default;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    padding: 0px 34px 0 10px;
    line-height: 34px;
    outline: none;

    span.icon{
        position: absolute;
        background-color: $white;
        text-align: center;
    right: 0px;
        top: 0px;
        width: 34px;
        cursor: pointer;
    }
}

.multi-select.error{
    border:solid red 1px;
}

.multi-select-options{
    @include border($medium-grey);
    background-color: $white;
    position: absolute;
    background-color: $white;
    overflow-y: scroll;
    top:40px;
    left:0px;
    height:100px;
    padding: 0px 34px 0 10px;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
}

.multi-select:hover{
    @include border($darkest-grey);
}

[disabled].multi-select{
    background-color: $lightest-grey;
    color:#b3b7c4;
    span.icon{
        background-color: transparent;
    }
}

[disabled].multi-select:hover{
    @include border($medium-grey);
    background-color: $white;
    position: relative;
    color: $medium-grey;
}
