/////////
// NAV //
/////////
#main-header-content nav{
    height: 50px;
    line-height: 50px;
    > ul > li{
        position: relative;
        float: left;
        background-color: $darkest-grey;
        height: 50px;
        line-height: 50px;
        > a{
            height: 50px;
        }
        > ul{
            display: none;
            min-width: 100%;
        }
        &:hover{
            > a{
                background-color: $black;
            }
            > ul{
                display: block;
                background-color: $darkest-grey;
                position: absolute;
                @include box-shadow-dark;

                top: 48px;
                left: 0px;
                white-space: nowrap;
                padding: 15px 0;
                z-index: 1000;
                > li{
                    line-height: 36px;
                    height: 36px;
                }
            }
        }
    }
    li{
        display: block;
        list-style: none;
        a{
            display: block;
            padding-left: 30px;
            padding-right: 30px;
            position: relative;
            color: $light-grey;
            text-transform: capitalize;
        }
        span.icon{
            line-height: 45px;
        }
        a:hover, a.active{
            background-color: $black;
            color: $white;
            text-decoration: none;
        }
    }
}
