@charset "UTF-8";
/* CSS Document */

/* Font Loading */
$conv_fonts: Gibson_Bold, Gibson_BoldItalic, Gibson_Italic, Gibson_Light, Gibson_LightIt, Gibson_Regular, Gibson_SemiBold, Gibson_SemiboldIt;

@each $cf in $conv_fonts {
    @font-face {
        font-family: '#{$cf}';
        src: url("./conv_fonts/#{$cf}.eot");
        src: url("./conv_fonts/#{$cf}.eot?#iefix") format("embedded-opentype"), url("./conv_fonts/#{$cf}.woff") format("woff"), url("./conv_fonts/#{$cf}.ttf") format("truetype"), url("./conv_fonts/#{$cf}.svg##{$cf}") format("svg");
        font-weight: normal;
        font-style: normal;
    }
}


/* Full Reset */
html, body{
    @extend .font-default;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
    font: inherit;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body{
    @extend .font-default;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
select{
    -webkit-appearance:none;
}
input::-moz-focus-inner /*Remove button padding in FF*/
{ 
    border: 0;
    padding: 0;
}
button::-moz-focus-inner {
    border: 0;
}
