/////////////////
// BOX SHADOWS //
/////////////////
@mixin box-shadow($top: 0px, $left: 3px, $blur: 20px, $spread: 0px, $color: rgba(0, 0, 0, 0.3)) {
    -moz-box-shadow: $top $left $blur $spread $color;
    -webkit-box-shadow: $top $left $blur $spread $color;
    box-shadow: $top $left $blur $spread $color;
}

@mixin box-shadow-dark($top: 0px, $left: 3px, $blur: 20px, $spread: 0px, $color: rgba(0, 0, 0, 0.6)) {
    -moz-box-shadow: $top $left $blur $spread $color;
    -webkit-box-shadow: $top $left $blur $spread $color;
    box-shadow: $top $left $blur $spread $color;
}
