////////////
// TABLES //
////////////

table{ @extend .font-default; }

@each $color in $colors{
    $key: nth($color, 1);
    $value: nth($color, 2);
    $r: nth($color, 3);
    $g: nth($color, 4);
    $b: nth($color, 5);
    table.table-#{$key}{
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        @extend .font-default;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        th{
            @extend .font-default;
            @extend .bgc-lightest-grey;
            @extend .fc-dark-grey;
            @extend .fst-italic;
            @extend .bb-light-grey;
            a{
                @extend .font-default;
                @extend .fc-dark-grey;
                &.active, &:hover, &:active{
                    @extend .fc-#{ $key };
                }
                &:after{
                    content: '';
                    @extend .font-icon;
                    font-style: normal;
                    margin-left: 27px;
                }
                &.active{
                    @extend .td-none;
                    &.asc:after{
                        content: '^';
                        @extend .font-icon;
                        font-style: normal;
                        @extend .ml-7;
                    }
                    &.desc:after{
                        content: '/';
                        @extend .font-icon;
                        font-style: normal;
                        @extend .ml-7;
                    }
                }
            }
        }
        tr, th, td{
            @extend .b-none;
            @extend .ta-left;
            @extend .pl-10;
            @extend .pr-10;
            line-height: 36px;
        }
        tbody{
            @extend .bgc-white;
            tr:hover{
                @extend .bgc-#{ $key };
                background-color: rgba( $r, $g, $b, .4);
            }
            td {
                @extend .truncate;
                max-width: 150px;
            }
        }
    }
}
