/////////////////
//   COLORS    //
/////////////////
$blue:#32A1CC;
$purple:#685b8b;
$blueberry:#4E81CC;
$green:#40a880;
$lime:#6BB26B;
$yellow:#D1Af50;
$tangerine:#D8A150;
$orange:#dd854e;
$red:#c8463c;
$lightest-grey:#F7F7F7;
$dark-grey: #848484;
$darkest-grey:#313233;
$light-grey:#E0E0E0;
$medium-grey:#b3b3b3;
$white:#ffffff;
$black:#000000;

$colors: white $white 255 255 255, blue $blue 54 160 209, blueberry $blueberry 78 129 204, purple $purple 104 90 143, green $green 65 169 129, lime $lime 107 178 107, yellow $yellow 209 175 80, tangerine $tangerine 216 161 80, orange $orange 220 134 65, red $red 199 71 54, lightest-grey $lightest-grey 247 247 247, darkest-grey $darkest-grey 49 50 51, light-grey $light-grey 224 224 224, medium-grey $medium-grey 179 179 179, dark-grey $dark-grey 132 132 132, black $black 0 0 0;

$white-red: 255;
$white-green: 255;
$white-blue: 255;

$blue-red: 54;
$blue-green: 160;
$blue-blue: 209;

$blueberry-red: 78;
$blueberry-green: 129;
$blueberry-blue: 204;

$purple-red: 104;
$purple-green: 90;
$purple-blue: 143;

$green-red: 65;
$green-green: 169;
$green-blue: 129;

$lime-red: 107;
$lime-green: 178;
$lime-blue: 107;

$yellow-red: 209;
$yellow-green: 175;
$yellow-blue: 80;

$tangerine-red: 216;
$tangerine-green: 161;
$tangerine-blue: 80;

$orange-red: 220;
$orange-green: 134;
$orange-blue: 65;

$red-red: 199;
$red-green: 71;
$red-blue: 54;

$lightest-grey-red: 247;
$lightest-grey-green: 247;
$lightest-grey-blue: 247;

$darkest-grey-red: 49;
$darkest-grey-green: 50;
$darkest-grey-blue: 51;

$light-grey-red: 224;
$light-grey-green: 224;
$light-grey-blue: 224;

$medium-grey-red: 179;
$medium-grey-green: 179;
$medium-grey-blue: 179;

$dark-grey-red: 132;
$dark-grey-green: 132;
$dark-grey-blue: 132;

$black-red: 0;
$black-green: 0;
$black-blue: 0;